{% extends "base.html" %}

{% block header %}<h1>{% block title %}Logged in as: {{ username }} - TensorFlow Trainer{% endblock %}</h1>
    <p id="back_nav">[ <a class="header_anchor" href="/admin/{{ session_token }}">back to administration</a> ]</p>
    <div id="user_stats">
    <p>Images uploaded: {{ uploaded_images }}</p>
    <p>Last login: {{ last_login }}</p>
    </div>
{% endblock %}

{% block content %}
<form action="/submit-image" method="post" enctype="multipart/form-data">
    <input type="hidden" name="session_token" value="{{ session_id }}" />
    <table cellpadding="3" cellspacing="3" bgcolor="#bdb76b">
        <tr>
            <td><strong>Year</strong></td>
            <td>
                <select name="year">
                {%  for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                {%  endfor %}
                </select>
            </td>
            <td><strong>Make</strong></td>
            <td><select name="make"><option value="Ford">Ford</option></select></td>
            <td><strong>Model</strong></td>
            <td><select name="model">
                <option value="F-150">F-150</option>
                <option value="Mustang">Mustang</option>
                <option value="Focus">Focus</option>
            </select></td>
        </tr>
        <tr>
            <td><strong>Image</strong></td>
            <td colspan="5"><input type="file" name="image_upload" /></td>
        </tr>
        <tr>
            <td colspan="6" align="right"><input type="submit" value="Upload" /></td>
        </tr>
    </table>
</form>
{% endblock %}
